/* global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root elements/global font choices and colors */
:root {
    --main-color: #272137;
    --accent-color: #655592;
    --light-bg: #fafafa;
    --text-gray: #777;
    --font-primary: "Anonymous Pro", monospace;
    --font-secondary: "Didact Gothic", sans-serif;
}



/* ===========================
    SHARED STYLING
=========================== */

/* text styles */
h1, h2, h3, h4, h5, h6 {
    color: var(--main-color);
    font-family: var(--font-primary);
    font-weight: 600;
}
p {
    font-family: var(--font-secondary);
    color: var(--main-color);
    line-height: 1.6;
}

/* body default style */
body {
    background-color: #fdfdfd;
    color: var(--main-color);
    line-height: 1.6;
}
section {
    padding: 2rem;
}

/* logo componentss*/
.logo {
    font-family: var(--font-primary);
    font-weight: 700;
    font-style: normal;
    color: var(--main-color);
}

footer, header {
    background: #fff;
}

@keyframes glow {
  from { text-shadow: 0 0 10px #fff, 0 0 20px #0a0a0a; }
  to { text-shadow: 0 0 10px #000000, 0 0 30px #ffffff; }
}



/* ===========================
        HEADER
=========================== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    border-bottom: 1px solid #ddd;
}
/* "T A G A I"  logo in the header */
.logo {
    font-size: 3rem;
    letter-spacing: 20px;
    margin: 0;
}
/* logo responsive tweaks */
@media (max-width: 900px) {
    .logo {
        font-size: 2rem;
        letter-spacing: 15px;
    }
}



/* ===========================
        NAVIGATION
=========================== */

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 1rem;
}

nav li {
    font-family: var(--font-primary);
    font-size: 1.5em;
    color: var(--main-color);
}

nav a {
    position: relative;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
    padding-bottom: 3px;
    transition: color 0.3s ease;
}

/* expanding underline hover animation for nav */
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
}
nav a:hover::after,
nav a.active::after {
    width: 100%;
}

nav a:hover,
nav a.active {
    color: var(--accent-color);
}
/* navigation responsive tweaks */
@media (max-width: 900px) {
    nav li {
        font-size: 1rem;
        margin-left: 6rem;
    }
}



/* ===========================
        FOOTER
=========================== */

footer {
    border-top: 1px solid #e0e0e0;
    color: var(--text-gray);
    font-size: 0.9rem;
    text-align: center;
    padding: 2rem 1.5rem;
    background: var(--light-bg);
}

/* stacks the copyrighted text, the group text, 
and sandwiches the "TAGAI" logo */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

/* custom ver of the header logo re-fitted for the footer */
footer .logo {
    font-size: 2.5rem;
    letter-spacing: 12px;
    margin: 0.2rem 0;
    transition: all 0.5s ease;
    cursor: default;
}
/* makes the "TAGAI" logo expand slightly when hovered */
footer .logo:hover {
    letter-spacing: 18px;
    color: #000;
    transform: scale(1.05);
}

footer .top-text,
footer .bottom-text {
    margin: 0;
}

footer p {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1rem;
}
/* Footer responsive tweaks */
@media (max-width: 900px) {
  footer .logo {
    font-size: 1rem;
  }
  footer p {
    font-size: 0.65rem;
  }
}



/* ===========================
        HOME PAGE
=========================== */

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40rem;
    padding: 10rem 2rem;
    flex-wrap: wrap;
}
.intro-headline h2 {
    text-align: right;
    font-size: 5rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.1;
}
.intro-text p {
    font-size: 1.5rem;
    max-width: 25rem;
    margin: 0;
    text-align: left;
}
.below-intro {
    background-image: url("home\ page\ img.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30vh 5vw;
}
/* intro responsive tweaks */
@media (max-width: 1800px) {
  .intro {
    flex-direction: column;
    text-align: center;
    gap: 4rem;
  }
  .intro-headline h2 {
    text-align: center;
    font-size: 2rem;
  }
  .intro-text p {
    text-align: center;
    font-size: 1rem;
  }
  .below-intro {
    padding: 15vh 2vw;
  }
}



/* ===========================
        GALLERY PAGE
=========================== */

.carousel, .carousel_2 {
    width: 90%;
    height: 45rem;
    display: flex;
    overflow-x: auto;
    margin: 5em auto;
}
.carousel::-webkit-scrollbar,
.carousel_2::-webkit-scrollbar {
    display: none;
}
.group, .group2 {
    display: flex;
    animation: spin 30s infinite linear;
    gap: 0.15em;
    padding-right: 0.15em;
}
.group2 { animation: spinjuju 30s infinite linear; }

@keyframes spin {
    from { translate: 0; }
    to { translate: -100%; }
}
@keyframes spinjuju {
    from { translate: -100%; }
    to { translate: 0%; }
}

.card {
    flex: 0 0 12em;
    height: 15em;
    font-size: 3rem;
    background: linear-gradient(270deg, var(--main-color), #fdfdfd);
    text-align: center;
    align-content: center;
}
.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

/* styling for the two cards with texts for both carousels */
.test, .test2, .bott_test, .bott_test2 {
    font-family: var(--font-secondary);
    font-weight: 600;
    letter-spacing: 7px;
    font-style: normal;
    color: white;
    animation: glow 2s ease-in-out infinite alternate;
}
.test { margin-right: 0.5em; }
.test2 { margin-left: 1em; }
.bott_test { margin-right: 1em; }
.bott_test2 { margin-left: 0.5em; }
/* carousel gallery responsive tweaks */
@media (max-width: 1376px) {
    .carousel, .carousel_2 {
        height: 20rem;
        margin-bottom: 4rem;
    }
    .card {
        font-size: 1.25rem;
    }
}



/* ===========================
        ABOUT PAGE
=========================== */

.about {
    padding: 4rem 6rem;
    background: var(--light-bg);
    color: var(--main-color);
}
/* top part of the group objective area */
.about-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5rem;
    margin: 5rem 0 3rem;
}
.about-text {
    max-width: 35%;
    font-size: 1.35rem;
    line-height: 1.7;
}

.about-essence {
    text-align: left;
    margin-right: 2rem;
}
.about-essence h1 {
    font-size: 6.5rem;
    font-weight: 600;
    
}
.about-essence h2 {
    font-size: 6rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: 5px;
    line-height: 1.25;
}
.about-essence .underline {
    width: 49rem;
    height: 5px;
    background-color: var(--main-color);
    margin: 0.5rem 0.5 1rem auto;
}
.about-essence span {
    margin-left: 10rem;
}

/* img serving as divider */
.about-image img {
    width: 100%;
    margin: 8rem 0;
    display: block;
}

/* bottom part of the group objective area */
.about-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
}
.about-heading h2 {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 10px;
}
.about-description {
    max-width: 30%;
    font-size: 1.5rem;
    line-height: 1.7;
    text-align: left;
}

/* group objective area of the about section responsive tweaks */
@media (max-width: 1900px) {
    .about {
    padding: 2rem;
  }
  .about-top, .about-bottom {
    flex-direction: column;
    text-align: center;
  }
  .about-text, .about-description {
    max-width: 100%;
    text-align: center;
  }
  .about-essence {
    text-align: center;
    margin: 2rem 0;
  }
  .about-essence h1 { font-size: 2.5rem; }
  .about-essence h2 { font-size: 2rem; }
  .about-essence span { margin-left: 1rem; }
  .about-essence .underline {
    margin: 0.5rem auto 1rem auto;
    width: 10rem;
  }
  .about-heading h2 {
    margin-left: 0;
    text-align: center;
  }
}

/* finally, the group members area of the about page */
.about-team {
    text-align: center;
    padding: 4rem 2rem;
}

.about-team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 4rem 2rem;
    justify-items: center;
}

.team-heading {
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: 600;
    color: var(--main-color);
    letter-spacing: 5px;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
}

.team-heading::after {
    content: "";
    display: block;
    width: 6rem;
    height: 3px;
    background-color: var(--accent-color);
    margin: 0.8rem auto 0 auto;
    border-radius: 2px;
}

.artist-card {
    background: #fff;
    padding: 2rem 1.5rem;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    text-align: center;
    max-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.artist-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px #00000014;
}
.artist-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 2px solid #ccc;
}
.artist-card h2 {
    color: var(--main-color);
    font-size: 1.35rem;
    margin-bottom: 0.5rem;
}
.artist-card p {
    color: #4b4a4a;
    font-size: 0.9rem;
    font-style: italic;
    line-height: 1.5;
    text-align: justify;
}
/* group members area of the about page responsive tweaks */
@media (max-width: 768px) {
    .intro {
        padding: 6rem 1.5rem;
    }
    nav ul {
        flex-direction: column;
        gap: 1rem;
    }
    .artist-photo {
        width: 100px;
        height: 100px;
    }
    .team-heading {
        font-size: 2rem;
        letter-spacing: 3px;
  }
}